<section class="flex justify-between mx-20 mt-10">
  <form [formGroup]="filterForm">
    <div class="flex border-2 border-gray rounded-lg">
      <div>
        <button
          class="rounded-lg p-2 hover:bg-gray flex items-center"
          (click)="regions = !regions"
        >
          <span class="text-base font-bold">რეგიონი</span>
          @if(regions){<img
            src="assets\bottom-arrow-icon.svg"
            class="ml-2 w-4"
            alt=""
          />}@else {<img
            src="assets\top-arrow-icon.svg"
            class="ml-2 w-4"
            alt=""
          />}
        </button>
        @if(regions && (regions$ | async);){
        <div
          class="mt-4 border-2 border-gray rounded-lg absolute p-4 z-40 bg-white"
          #region
          (click)="divClicked($event)"
        >
          <span class="text-base font-bold pb-4 block">რეგიონის მიხედვით</span>
          <div class="grid grid-cols-3 gap-6">
            @for(region of (regions$ | async); track region.id ){
            <label class="container"
              >{{ region.name }}
              <input
                type="radio"
                formControlName="region"
                [value]="region.name"
              />
              <span class="checkmark"></span> </label
            >}
          </div>
          <div class="w-full flex justify-end">
            <button
              class="bg-primary rounded-lg hover:bg-dark text-white p-2 w-20 h-10 mt-2"
              (click)="onSubmit()"
            >
              არჩევა
            </button>
          </div>
        </div>
        }
      </div>

      <div>
        <button
          class="rounded-lg p-2 hover:bg-gray flex items-center"
          (click)="priceCategory = !priceCategory"
        >
          <span class="text-base font-bold">საფასო კატეგორია</span>
          @if(priceCategory){<img
            src="assets\bottom-arrow-icon.svg"
            class="ml-2 w-4"
            alt=""
          />}@else {<img
            src="assets\top-arrow-icon.svg

"
            class="ml-2 w-4"
            alt=""
          />}
        </button>
        @if(priceCategory){
        <div
          class="mt-4 border-2 border-gray rounded-lg absolute p-4 z-40 bg-white"
          #priceCategory
          (click)="divClicked($event)"
        >
          <span class="text-base font-bold pb-4 block"
            >ფასის მიხედვით მიხედვით</span
          >
          <div class="grid grid-cols-2 gap-6">
            <div class="flex flex-col">
              <input
                type="number"
                class="border-2 border-gray rounded-lg p-3 w-44"
                name=""
                id=""
                placeholder="დან"
              />
              <span class="text-base font-bold p-4 block">მინ ფასი</span>
              <label class="container">
                <div class="flex flex-row">
                  <span>50 000</span
                  ><img src="assets\Gel.svg" alt="" class="ml-2 w-3" />
                </div>
                <input type="checkbox" />
                <span class="checkmark"></span>
              </label>
              <label class="container">
                <div class="flex flex-row">
                  <span>100 000</span
                  ><img src="assets\Gel.svg" alt="" class="ml-2 w-3" />
                </div>
                <input type="checkbox" />
                <span class="checkmark"></span>
              </label>
              <label class="container"
                ><div class="flex flex-row">
                  <span>150 000</span
                  ><img src="assets\Gel.svg" alt="" class="ml-2 w-3" />
                </div>
                <input type="checkbox" />
                <span class="checkmark"></span> </label
              ><label class="container"
                ><div class="flex flex-row">
                  <span>200 000</span
                  ><img src="assets\Gel.svg" alt="" class="ml-2 w-3" />
                </div>
                <input type="checkbox" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="flex flex-col">
              <input
                type="number"
                class="border-2 border-gray rounded-lg p-3 w-44"
                name=""
                id=""
                placeholder="მდე"
              />
              <span class="text-base font-bold p-4 block">მაქს ფასი</span>

              <label class="container">
                <div class="flex flex-row">
                  <span>100 000</span
                  ><img src="assets\Gel.svg" alt="" class="ml-2 w-3" />
                </div>
                <input type="checkbox" />
                <span class="checkmark"></span>
              </label>
              <label class="container"
                ><div class="flex flex-row">
                  <span>150 000</span
                  ><img src="assets\Gel.svg" alt="" class="ml-2 w-3" />
                </div>
                <input type="checkbox" />
                <span class="checkmark"></span>
              </label>
              <label class="container"
                ><div class="flex flex-row">
                  <span>200 000</span
                  ><img src="assets\Gel.svg" alt="" class="ml-2 w-3" />
                </div>
                <input type="checkbox" />
                <span class="checkmark"></span>
              </label>
              <label class="container"
                ><div class="flex flex-row">
                  <span>250 000</span
                  ><img src="assets\Gel.svg" alt="" class="ml-2 w-3" />
                </div>
                <input type="checkbox" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="w-full flex justify-end">
            <button
              class="bg-primary rounded-lg hover:bg-dark text-white p-2 w-20 h-10"
            >
              არჩევა
            </button>
          </div>
        </div>
        }
      </div>

      <div>
        <button
          class="rounded-lg p-2 hover:bg-gray flex items-center"
          (click)="area = !area"
        >
          <span class="text-base font-bold">ფართობი</span>
          @if(area){<img
            src="assets\bottom-arrow-icon.svg"
            class="ml-2 w-4"
            alt=""
          />}@else {<img
            src="assets\top-arrow-icon.svg

"
            class="ml-2 w-4"
            alt=""
          />}
        </button>
        @if(area){
        <div
          class="mt-4 border-2 border-gray rounded-lg absolute p-4 z-40 bg-white"
          #area
          (click)="divClicked($event)"
        >
          <span class="text-base font-bold pb-4 block">ფართობის მიხედვით </span>
          <div class="grid grid-cols-2 gap-6">
            <div class="flex flex-col">
              <input
                type="number"
                class="border-2 border-gray rounded-lg p-3 w-44"
                formControlName="minArea"
                placeholder="დან"
              />
              <span class="text-base font-bold p-4 block"
                >მინ. მ<sup>2</sup></span
              >
              @for(area of minArea; track area){<label class="container"
                >{{ area }} მ<sup>2</sup>
                <input formControlName="minArea" type="radio" [value]="area" />
                <span class="checkmark"></span> </label
              >}
            </div>
            <div class="flex flex-col">
              <input
                type="number"
                class="border-2 border-gray rounded-lg p-3 w-44"
                formControlName="maxArea"
                placeholder="მდე"
              />
              <span class="text-base font-bold p-4 block"
                >მაქს მ<sup>2</sup></span
              >
              @for(area of maxArea; track area){<label class="container"
                >{{ area }} მ<sup>2</sup>
                <input type="radio" [value]="area" formControlName="maxArea" />
                <span class="checkmark"></span> </label
              >}
            </div>
          </div>
          <div class="w-full flex justify-end">
            <button
              class="bg-primary rounded-lg hover:bg-dark text-white p-2 w-20 h-10"
              (click)="onSubmit()"
            >
              არჩევა
            </button>
          </div>
        </div>
        }
      </div>

      <div>
        <button
          class="rounded-lg p-2 hover:bg-gray flex items-center"
          (click)="numberOfBedrooms = !numberOfBedrooms"
        >
          <span class="text-base font-bold">საძინებლების რაოდენობა</span>
          @if(numberOfBedrooms){<img
            src="assets\bottom-arrow-icon.svg"
            class="ml-2 w-4"
            alt=""
          />}@else {<img
            src="assets\top-arrow-icon.svg

"
            class="ml-2 w-4"
            alt=""
          />}
        </button>
        @if(numberOfBedrooms){
        <div
          class="mt-4 border-2 border-gray rounded-lg absolute p-4 z-40 bg-white"
          #numberOfBedrooms
          (click)="divClicked($event)"
        >
          <span class="text-base font-bold pb-4 block"
            >საძინებლების რაოდენობა
          </span>
          <div class="flex flex-col">
            <input
              type="number"
              class="border-2 border-gray rounded-lg p-3 w-14 mt-4 mb-8"
              formControlName="numberOfBedrooms"
            />
          </div>
          <div class="w-full flex justify-end">
            <button
              class="bg-primary rounded-lg hover:bg-dark text-white p-2 w-20 h-10"
              (click)="onSubmit()"
            >
              არჩევა
            </button>
          </div>
        </div>
        }
      </div>
    </div>
  </form>

  <div class="flex">
    <button
      class="bg-primary rounded-lg hover:bg-dark text-white p-2"
      routerLink="/add-Listing"
    >
      + ლისტინგის დამატება
    </button>
    <button
      class="bg-white hover:bg-primary hover:text-white rounded-lg border-2 border-gray ml-2 p-2"
      (click)="openDialog()"
    >
      + აგენტის დამატება
    </button>
  </div>
</section>

<section class="px-20 flex gap-3">
  @for(filter of filterBy; track filter){
  <button
    class="bg-white hover:bg-primary hover:text-white border-2 border-gray mt-4 p-2 rounded-3xl flex items-center"
    (click)="cancelFilter(filter)"
  >
    {{ filter }}
    <img src="assets\x.svg" class="ml-2 w-4" alt="" /></button
  >}
</section>

<section class="w-full grid 2xl:grid-cols-4 gap-8 pt-10 px-20 grid-cols-3">
  @for(realEstate of (realEstates$ | async); track realEstate.id){

  <app-real-estate-card
    class="card"
    [realEstate]="realEstate"
    (click)="goToDetailsPage(realEstate.id)"
  ></app-real-estate-card>
  @if(!realEstate){
  <p class="text-xl font-medium col-span-4">
    აღნიშნული მონაცემებით განცხადება არ იძებნება
  </p>
  } }
</section>
