@tailwind base;
@tailwind components;
@tailwind utilities;

/* firago-latin-400-normal */
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/firago/files/firago-latin-400-normal.woff2)
      format("woff2"),
    url(@fontsource/firago/files/firago-latin-400-normal.woff) format("woff");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "FiraGO";
}
